@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
<script type="text/javascript">
    function SetChosenDeck(chosenId) {
        $.ajax({
            url: '/Decks/SetChosenDeck',
            type: 'PUT',
            data: { chosenId: chosenId, }
        });
    }
</script>
<h1 class="display-4">Your Decks</h1>


@if (ViewBag.Decks.Count == 0)
{
    <p>No decks yet!</p>
}
else
{
    <table class="table">
        <tr>
            <th></th>
            <th>Name</th>
            <th>Navi Name</th>
            <th>Navi Code</th>
            <th></th>
            <th></th>
        </tr>
        @foreach (Deck deck in ViewBag.Decks)
        {
            <tr>
        
                <td>
                    @if (deck.Id == ViewBag.SelectedDeckId)
                    {
                        <input type="radio" name="chosen-deck" onclick="SetChosenDeck(@deck.Id);" value="@deck.Id" checked="checked" />
                    }
                    else
                    {
                        <input type="radio" name="chosen-deck" onclick="SetChosenDeck(@deck.Id);" value="@deck.Id" />
                    }
                </td>
                <td>@deck.Name</td>
                <td>@deck.NaviName</td>
                <td>@deck.NaviCode</td>
                <td><a class="btn btn-sm btn-primary" href="#">Edit</a></td>
                <td><a class="btn btn-sm btn-danger" href="#">Delete</a></td>
            </tr>
        }
    </table>
}
<a class="btn btn-sm btn-primary" asp-controller="Decks" asp-action="Add">New Deck</a>